<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>

    </head>
    <body>
        <br>
        <hr>
        <div th:fragment="footer">
          <div class="copyright_section mt-4">
            <div class="container">
               <p class="copyright_text text-center">2022 All Rights Reserved. Design by <a href="https://html.design">FPT Polytechnic</a></p>
            </div>
         </div>
        </div>
    </body>
</html>